<style type="text/css">
div {
  text-align: center;
}

.list-group-item {
  height: 50px;
  margin-top: 0px;
  padding-top: 0px;
}

li {
  text-align: center;
}

.well {
  padding: 0;
  width: 100%;
}

.circle {
  line-height: 0;   /* remove line-height */
  display: inline-block;  /* circle wraps image */
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 50%; /* relative value */
  /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
  transition: linear 0.25s;
  height: 80px;
  width: 75px;
}
</style>
<!-- left sidebar -->
<div class="col-md-2" style ="border: 1px solid #ccc;">

<% if @userLevel >= 0 %>
   <div class="circle"><img height="50" width="50" style="margin-top: 13px;" src="https://www.nanamee.com/upload/images/29728/29728_p.jpg"></div>
<% elsif @userLevel === 2%>
  <div class="circle"><img height="50" width="50"  style="margin-top: 13px;" src="https://www.nanamee.com/upload/images/29605/29605_p.jpg"></div>
<% end %>
<h2>  <%= @user.name  %></h2>
      <h3>Level: <%= @userLevel %><h3>
      <h4>Science <%= @user.science  %> </h4>
      <h4>Medicine <%= @user.medicine  %> </h4>
      <h4>Technology <%= @user.technology  %> </h4>
      <h4>Art <%= @user.art  %> </h4>
      <h4>Movies <%= @user.movies %> </h4>
<a href="/logout">Logout</a><br>
        ART SCORE FOR THE USER:   <%= @user.art %>
        
        <h2>Scoreboard</h2>
        <ol>
        <% @scoreboard.each do |u| %>

        <li><%= u.name  %>
        <span class="badge"><%= u.score %></span></li>
        <% end %> 
        </ol>   
</div>

<!-- begin displaying categories -->
<div class="col-md-10">
<h2 style="text-align: center;">
  <b><u>Renaissance Man</b></u>


<h3 style="border: 3px solid black;">Technology</h3>
<div style="border: 1px solid #ccc; text-align: center;">
  <% @technology.each do |tech| %>
      <h4> <a target="_blank" href ="<%= tech.url %>"><%= tech.title  %></a></h4>

<button class='commentbutton1'>click to view/hide comments</button>


<div class='commentdiv1' style="display: none;">
  <ul class="list-group">
    <% tech.comments.each do |com| %>
      <div class="well well-sm"><% uid = com.user_id %><% usr = User.find(uid) %> <h3><%= usr.name  %>   <%= com.content %></h3></div>
    <% end %>
  <% @article = tech %>

  <%= render :partial => "comments/form", :locals => {:parent => @article, :comment => @article.comments.new} %>
</div>

  <% end %>
</div>  
<div style="border: 1px solid #ccc; text-align: center;">
  <h3 style="border: 3px solid black;">ART!!!</h3>
  <% @art.each do |a| %>
    <h4> <a target="_blank" href ="<%= a.url %>"><%= a.title  %></a></h4>

  <button class='commentbutton1'>click to view/hide comments</button>

  <div class='commentdiv1' style="display: none;">
    <ul class="list-group">
  <% a.comments.each do |com| %>
            <li class="list-group-item"><% uid = com.user_id %><% usr = User.find(uid) %> <h1><%= usr.name  %></h1>   <%= com.content %></li>


      <% end %>
    </ul>
      <% @article = a %>

      <%= render :partial => "comments/form", :locals => {:parent => @article, :comment => @article.comments.new} %>
      </div>
      <% end %>
</div>
<div style="border: 1px solid #ccc; text-align: center;">
  <h3 style="border: 3px solid black;">MOVIES!!!</h3>
  <% @movies.each do |a| %>
      <h4> <a target="_blank" href ="<%= a.url %>"><%= a.title  %></a></h4>

      <button class='commentbutton1'>click to view/hide comments</button>

  <div class='commentdiv1' style="display: none;">
    <ul class="list-group">
  <% a.comments.each do |com| %>
            <li class="list-group-item"><% uid = com.user_id %><% usr = User.find(uid) %> <h1><%= usr.name  %></h1>  <%= com.content %></li>

            <p> <%= com.inspect  %> </p>
            <p> <%= com %>

      <% end %>
    </ul>
      <% @article = a %>

      <%= render :partial => "comments/form", :locals => {:parent => @article, :comment => @article.comments.new} %>
  </div>

  </p>
  <% end %>

</div>
<div style="border: 1px solid #ccc; text-align: center;">
  <h3 style="border: 3px solid black;">science!!!</h3>
  <% @science.each do |a| %>
      <h4> <a target="_blank" href ="<%= a.url %>"><%= a.title  %></a></h4>

      <button class='commentbutton1'>click to view/hide comments</button>

  <div class='commentdiv1' style="display: none;">
    <ul class="list-group">
  <% a.comments.each do |com| %>
            <li class="list-group-item"><% uid = com.user_id %><% usr = User.find(uid) %> <h1><%= usr.name  %></h1>   <%= com.content %></li>


      <% end %>
    </ul>
      <% @article = a %>

      <%= render :partial => "comments/form", :locals => {:parent => @article, :comment => @article.comments.new} %>
  </div>


  <% end %>
</div>
<h3 style="border: 3px solid black;">Medicine</h3>
<div style="border: 1px solid #ccc; text-align: center;">
  <% @medicine.each do |med| %>
      <h4> <a target="_blank" href ="<%= med.url %>"><%= med.title  %></a></h4>

<button class='commentbutton1'>click to view/hide comments</button>

<div class='commentdiv1' style="display: none;">
  <ul class="list-group">
    <% med.comments.each do |com| %>
      <li class="list-group-item"><% uid = com.user_id %><% usr = User.find(uid) %> <h1><%= usr.name  %></h1>   <%= com.content %></li>
    <% end %>
  <% @article = med %>

  <%= render :partial => "comments/form", :locals => {:parent => @article, :comment => @article.comments.new} %>
</div>

  <% end %>
</div>
</div>

