<style type="text/css">
div {
  text-align: center;
}

.cmnt {
  margin: 0 auto;
   width: 500px;
   font-family: "Times New Roman" Times serif;
   font-size: medium;
}
.error {
  color: red;
}
.list-group-item {
  height: 50px;
  margin-top: 0px;
  padding-top: 0px;
}

li {
  text-align: center;
}

.well {
  padding: 0;
  width: 100%;
}

.circle {
  line-height: 0;   /* remove line-height */
  display: inline-block;  /* circle wraps image */
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 50%; /* relative value */
  /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
  transition: linear 0.25s;
  height: 80px;
  width: 75px;
}

#myTab {
  left: 20%;
  margin-top: 35px;
}

body {
      background-image: url("http://imgur.com/Uu09QId.png");

}
</style>
<!-- left sidebar -->
<div class="col-md-2" style ="border: 1px solid #ccc;">

<% if @userLevel >= 0  && @userLevel < 2%>
   <div class="circle"><img height="50" width="50" style="margin-top: 13px;" src="https://www.nanamee.com/upload/images/29728/29728_p.jpg"></div>
<% elsif @userLevel === 2%>
  <div class="circle"><img height="50" width="50"  style="margin-top: 13px;" src="https://www.nanamee.com/upload/images/29605/29605_p.jpg"></div>
<% elsif @userLevel ===3 %>
  <div class="circle" style="background-color: black;"><img height="50" width="50" style="margin-top: 13px;" src="https://c2.staticflickr.com/8/7182/6851856345_feba375e6b_z.jpg"></div>
<% elsif @userLevel ===4 %>
  <div class="circle" style="background-color: black;"><img height="50" width="50" style="margin-top: 13px;" src="http://fc06.deviantart.net/fs39/f/2008/342/d/f/Steampunk_8_bit_Jason_by_shrakakoom.gif"></div>
  <% elsif @userLevel >=5 %>
  <div class="circle" style="background-color: black;"><img height="50" width="50" style="margin-top: 13px;" src="http://piq.codeus.net/static/media/userpics/piq_20002_400x400.png"></div>
<% end %>
<h2>  <%= @user.name  %></h2>
      <h3>Level: <%= @userLevel %><h3>
      <h4>Science <%= @user.science  %> </h4>
      <h4>Medicine <%= @user.medicine  %> </h4>
      <h4>Technology <%= @user.technology  %> </h4>
      <h4>Art <%= @user.art  %> </h4>
      <h4>Movies <%= @user.movies %> </h4>
<a href="/logout">Logout</a><br>
        ART SCORE FOR THE USER:   <%= @user.art %>

        <h2>Scoreboard</h2>
        <ol>
        <% @scoreboard.each do |u| %>

        <li><%= u.name  %>
        <span class="badge"><%= u.score %></span></li>
        <% end %>
        </ol>
</div>

<!-- begin displaying categories -->
<div class="col-md-10">
<h2 style="text-align: center;">
  <b><u>Renaissance Man</b></u>


<!-- open the tabs ul -->
<ul id="myTab" class="nav nav-pills" role="tablist">
<li><a href="#" role="tab" data-toggle=""></a></li>
<li><a href="#" role="tab" data-toggle=""></a></li>
<li><a href="#" role="tab" data-toggle=""></a></li>
<li><a href="#" role="tab" data-toggle=""></a></li>
<li><a href="#" role="tab" data-toggle=""></a></li>
<li><a href="#" role="tab" data-toggle=""></a></li>
<li><a href="#" role="tab" data-toggle=""></a></li>
<li><a href="#" role="tab" data-toggle=""></a></li>
<li class="active"><a href="#technology" role="tab" data-toggle="tab">Technology</a></li>

<li><a href="#art" role="tab" data-toggle="tab">Art</a></li>
<li><a href="#movies" role="tab" data-toggle="tab">Movies</a></li>
<li><a href="#science" role="tab" data-toggle="tab">Science</a></li>
<li><a href="#medicine" role="tab" data-toggle="tab">Medicine</a></li>
</ul>


<div class="tab-content">






 <div class="tab-pane active" id="technology">

<div style="border: 1px solid #ccc; text-align: center;">
  <% @technology.each do |tech| %>
      <h3> <a target="_blank" href ="<%= tech.url %>"><%= tech.title  %></a></h3>

<button type="button" class="btn btn-default commentbutton1">click to view/hide comments</button>


<div class='commentdiv1' style="display: none;">
  <ul class="list-group">
    <% tech.comments.each do |com| %>
      <div class="well well-sm" style="margin: 0 auto;"><% uid = com.user_id %><% usr = User.find(uid) %> <h4><b><u><%= usr.name  %>: </u></b>   <%= com.content %></h4></div>
    <% end %>
  <% @article = tech %>

  <%= render :partial => "comments/form", :locals => {:parent => @article, :comment => @article.comments.new} %>
</div>

  <% end %>
</div>
</div>

<!-- ART!!!! -->
<div class="tab-pane" id="art">
<div style="border: 1px solid #ccc; text-align: center;">

  <% @art.each do |a| %>
    <h3> <a target="_blank" href ="<%= a.url %>"><%= a.title  %></a></h3>

  <button type="button" class="btn btn-default commentbutton1">click to view/hide comments</button>

  <div class='commentdiv1' style="display: none;">
    <ul class="list-group">
  <% a.comments.each do |com| %>
            <div class="well well-sm" style="margin: 0 auto;"><% uid = com.user_id %><% usr = User.find(uid) %> <h4><b><u><%= usr.name  %>: </u></b>   <%= com.content %></h4></div>


      <% end %>
    </ul>
      <% @article = a %>

      <%= render :partial => "comments/form", :locals => {:parent => @article, :comment => @article.comments.new} %>
      </div>
      <% end %>
</div>
</div>


<!-- MOVIES! -->
<div class="tab-pane" id="movies">
<div style="border: 1px solid #ccc; text-align: center;">

  <% @movies.each do |a| %>
      <h3> <a target="_blank" href ="<%= a.url %>"><%= a.title  %></a></h3>

      <button type="button" class="btn btn-default commentbutton1">click to view/hide comments</button>

  <div class='commentdiv1' style="display: none;">
    <ul class="list-group">
  <% a.comments.each do |com| %>
            <div class="well well-sm" style="margin: 0 auto;"><% uid = com.user_id %><% usr = User.find(uid) %> <h4><b><u><%= usr.name  %>: </u></b>   <%= com.content %></h4></div>

      <% end %>
    </ul>
      <% @article = a %>

      <%= render :partial => "comments/form", :locals => {:parent => @article, :comment => @article.comments.new} %>
  </div>

  </p>
  <% end %>

</div>
</div>


<!-- SCIENCE! -->
<div class="tab-pane" id="science">
<div style="border: 1px solid #ccc; text-align: center;">

  <% @science.each do |a| %>
      <h3> <a target="_blank" href ="<%= a.url %>"><%= a.title  %></a></h3>

      <button type="button" class="btn btn-default commentbutton1">click to view/hide comments</button>

  <div class='commentdiv1' style="display: none;">
    <ul class="list-group">
  <% a.comments.each do |com| %>
            <div class="well well-sm" style="margin: 0 auto;"><% uid = com.user_id %><% usr = User.find(uid) %> <h4><b><u><%= usr.name  %>: </u></b>   <%= com.content %></h4></div>


      <% end %>
    </ul>
      <% @article = a %>

      <%= render :partial => "comments/form", :locals => {:parent => @article, :comment => @article.comments.new} %>
  </div>


  <% end %>
</div>
</div>

<!-- MEDICINE -->

<div class="tab-pane" id="medicine">

<div style="border: 1px solid #ccc; text-align: center;">
  <% @medicine.each do |med| %>
      <h3> <a target="_blank" href ="<%= med.url %>"><%= med.title  %></a></h3>

<button type="button" class="btn btn-default commentbutton1">click to view/hide comments</button>

<div class='commentdiv1' style="display: none;">
  <ul class="list-group">
    <% med.comments.each do |com| %>
      <div class="well well-sm" style="margin: 0 auto;"><% uid = com.user_id %><% usr = User.find(uid) %> <h4><b><u><%= usr.name  %>: </u></b>   <%= com.content %></h4></div>
    <% end %>
  <% @article = med %>

  <%= render :partial => "comments/form", :locals => {:parent => @article, :comment => @article.comments.new} %>
</div>

  <% end %>
</div>
</div>
</div>

<!-- close the "tab-content div" -->
</div>